﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "PageMaster.cshtml";
}
@section headScripts {
	<link href="/css/style.css" rel="stylesheet">
}

<div class="contact">
	<div class="container">
		<h1>Contact</h1>
		<div class="line"></div>
		<div class="row spacer">
			<div class="col-xs-12 col-md-4">
				<h3>Address:</h3>
				<p>@Model.Content.GetPropertyValue("address")</p>
			</div>
			@if(!string.IsNullOrEmpty(Model.Content.GetPropertyValue<string>("generalInfoEmail")) || !string.IsNullOrEmpty(Model.Content.GetPropertyValue<string>("generalInfoPhone"))) {
			<div class="col-xs-12 col-md-4">
				<h3>General Contact:</h3>
				@if(!string.IsNullOrEmpty(Model.Content.GetPropertyValue<string>("generalInfoEmail"))) {
				<p><a href="mailto:@Model.Content.GetPropertyValue("generalInfoEmail")">@Model.Content.GetPropertyValue("generalInfoEmail")</a></p>
				}
				@if(!string.IsNullOrEmpty(Model.Content.GetPropertyValue<string>("generalInfoPhone"))) {
				<p><a href="tel:@Model.Content.GetPropertyValue("generalInfoPhone")">@Model.Content.GetPropertyValue("generalInfoPhone")</a></p>
				}
			</div>
			}

			@if(!string.IsNullOrEmpty(Model.Content.GetPropertyValue<string>("BookingEmail")) || !string.IsNullOrEmpty(Model.Content.GetPropertyValue<string>("BookingPhone"))) {
			<div class="col-xs-12 col-md-4">
				<h3>Booking Info:</h3>
				@if(!string.IsNullOrEmpty(Model.Content.GetPropertyValue<string>("BookingEmail"))) {
				<p><a href="mailto:@Model.Content.GetPropertyValue("BookingEmail")">@Model.Content.GetPropertyValue("BookingEmail")</a></p>
				}
				@if(!string.IsNullOrEmpty(Model.Content.GetPropertyValue<string>("BookingPhone"))) {
				<p><a href="tel:@Model.Content.GetPropertyValue("BookingPhone")">@Model.Content.GetPropertyValue("BookingPhone")</a></p>
				}
			</div>
			}
		</div>
		<div class="row contact_form">
			<hr />
			<h2 class="center">Get in touch</h2>
			@Html.Partial("Contact/ContactForm", new ShareHouseTheatre.Models.ContactModel())
		</div>
	</div>
</div>

@section scripts {
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}