﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "PageMaster.cshtml";
}

@section headScripts {
	<link href="/css/style.css" rel="stylesheet">
}

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="center">Events</h1>
			<div class="event_blurb center">
				@Model.Content.GetPropertyValue("blurb")
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div id="calendar"></div>

			<script type="text/template" id="full-clndr-template">
				<div class="clndr-controls">
					<div class="clndr-previous-button">&lt;</div>
					<div class="clndr-next-button">&gt;</div>
					<div class="current-month"><%= month %> <%= year %></div>
				</div>
				<div class="clndr-grid">
					<div class="days-of-the-week clearfix">
						<% _.each(daysOfTheWeek, function(day) { %>
							<div class="header-day"><%= day %></div>
						<% }); %>
					</div>
					<div class="days">
						<% _.each(days, function(day) { %>
							<div class="<%= day.classes %>" id="<%= day.id %>"><span class="day-number"><%= day.day %></span></div>
						<% }); %>
					</div>
				</div>
				<div class="event-listing">
					<div class="event-listing-title">Events This Month</div>
					<% _.each(eventsThisMonth, function(event) { %>
					<div class="event-item">
						<div class="event-item-name"><%= event.title %>: 
							<% if(event.startmo == event.endmo){ %>
								<% if(event.startday == event.endday){ %>
									<%= event.start.split('-')[2] %> <%= event.startmo %>
								<% } else { %>
									<%= event.start.split('-')[2] %> - <%= event.end.split('-')[2] %> <%= event.startmo %>
								<% } %>
							<% } %>
							<% if(event.startmo != event.endmo){ %>
								<%= event.start.split('-')[2] %> <%= event.startmo %> - <%= event.end.split('-')[2] %> <%= event.endmo %>
							<% } %>
							</div>
						<div class="event-item-location">@@ <%= event.location %></div>
						<div class="event-item-details"><%= event.details %></div>
						<% if( new Date(event.end) >= new Date() ){ %>
						<div class="event-item-url"><a href="<%= event.tickets %>">Buy Tickets</a></div>
						<% } %>
					</div>
					<% }); %>
				</div>
			</script>

		</div>
	</div>
</div>

@section scripts {
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/en-au.js"></script> -->
	<script src="~/js/underscore-min.js"></script>
	<script src="~/js/cldr.min.js"></script>
	<script>
	@{ var events = Umbraco.TypedContent(1062).Children(); }
	var Events = [
	@foreach(var e in events) {
		string startD = e.GetPropertyValue<DateTime>("eventStartDate").ToString("yyyy-MM-dd");
		string startDay = e.GetPropertyValue<DateTime>("eventStartDate").ToString("dd");
		string startMo = e.GetPropertyValue<DateTime>("eventStartDate").ToString("MMMM");

		string endD = e.GetPropertyValue<DateTime>("eventFinishDate").ToString("yyyy-MM-dd");
		string endDay = e.GetPropertyValue<DateTime>("eventFinishDate").ToString("dd");
		string endMo = e.GetPropertyValue<DateTime>("eventFinishDate").ToString("MMMM");

		string output = "date: '" + startD + "', "+
						"start: '" + startD + "', " +
						"startday: '" + startDay + "', " +
						"startmo: '" + startMo + "', " +
						"end: '" + endD + "', " +
						"endday: '" + endDay + "', " +
						"endmo: '" + endMo + "', " +
						"title: '" + e.GetPropertyValue<string>("title") + "', " +
						"details: \"" + e.GetPropertyValue<string>("summary").Replace("\"","\\\"").Replace("\r", "").Replace("\n", "") + "\", " +
						"location: '" + e.GetPropertyValue<string>("location") + "', " +
						"eventURL: '" + e.Url() + "', " +
						"tickets: '" + e.GetPropertyValue<string>("ticketURL") + "'";
		@Html.Raw("{ " + output + " },\r\n")
	}
	];
	$('#calendar').clndr({
		template: $('#full-clndr-template').html(),
		events: Events,
		dateParameter: 'end',
		multiDayEvents: {
				endDate: 'end',
			startDate: 'start'
		},
		clickEvents: {
			click: function (target) {
				window.location = target.events[0].eventURL;
			}
		},
		daysOfTheWeek: ['S', 'M', 'T', 'W', 'T', 'F', 'S'],
		forceSixRows: true
	});
	</script>
}