﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "PageMaster.cshtml";
}
@section headScripts {
	<link href="/css/style.css" rel="stylesheet">
	<script src="~/js/picturefill.min.js"></script>
}

<div class="container">
	<div class="img_header">
		@{ string imgD = Model.Content.GetPropertyValue<IPublishedContent>("poster") != null ? Model.Content.GetPropertyValue<IPublishedContent>("poster").Url() : "../img/sharehouselogo_large.jpg"; }
		@{ string imgM = Model.Content.GetPropertyValue<IPublishedContent>("posterMobile") != null ? Model.Content.GetPropertyValue<IPublishedContent>("posterMobile").Url() : "../img/sharehouselogo_large.jpg"; }
		<picture>
			<source srcset="@imgD" media="(min-width:992px)" />
			<img srcset="@imgM" class="img-responsive" alt="" />
		</picture>
		<h1 class="hero">@Model.Content.GetPropertyValue("title")</h1>
	</div>
	<div class="row event_main_content">
		<div class="col-xs-12 col-sm-3 col-md-4">
			@{
				var dt = Model.Content.GetPropertyValue<DateTime>("eventStartDate");
				string start = dt.ToString("dd MMMM yyyy");
				dt = Model.Content.GetPropertyValue<DateTime>("eventFinishDate");
				string end = dt.ToString("dd MMMM yyyy");
				var now = DateTime.Now;
			}
			<div class="event-link buy_tix">
				@if(!(now.Year > dt.Year || now.DayOfYear > dt.DayOfYear)) {
					<a class="round-btn" href="@Model.Content.GetPropertyValue("ticketURL")"><span class="text">Buy Tickets</span></a>
				}
			</div>
			<p class="date">
				<span class="orange_bg"><i class="fa fa-calendar"></i></span> @start - @end
			</p>
			<p class="location">
				<span class="orange_bg"><i class="fa fa-map-marker"></i></span> @Model.Content.GetPropertyValue("location")
			</p>
			<p class="price">
				<span class="orange_bg"><i class="fa fa-ticket"></i></span> @Model.Content.GetPropertyValue("ticketPrice")
			@if(Model.Content.GetPropertyValue("ticketPrice") != null) {
				<br /><span class="orange_bg"><i class="fa fa-ticket"></i></span>  @Model.Content.GetPropertyValue("ticketPrice1")
			}
			</p>
			@if(Model.Content.GetPropertyValue<IPublishedContent>("digitalProgramme") != null) {
				var prog = Model.Content.GetPropertyValue<IPublishedContent>("digitalProgramme");
			<p class="programme">
				<a href="@prog.Url" download><span class="orange_bg"><i class="fa fa-file-pdf-o"></i></span> Download Programme</a>
			</p>
			}
		</div>
		<div class="col-xs-12 col-sm-9 col-md-8">
			@Model.Content.GetPropertyValue("description")
		</div>
	</div>
</div>

