﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "PageMaster.cshtml";
}
@section headScripts {
	<link href="/css/style.css" rel="stylesheet">
}

<div class="container">
	<div class="row">
	@foreach(var gallery in Model.Content.Children()){
		var gImgs = gallery.GetPropertyValue<IEnumerable<IPublishedContent>>("galleryPhotos");
		var first = gImgs.First();
		<div class="col-12 col-md-6">
			<div class="gallery_child">
				<a href="@gallery.Url()">
				@if(first != null){
					<img src="@first.Url()"  class="img-responsive" alt="" />
				}
					<h2 class="gallery_heading" href="@gallery.Url()">@gallery.GetPropertyValue("galleryHeading")</h2>
				</a>
			</div>
		</div>
	}
	</div>
</div>