﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "PageMaster.cshtml";
}
@section headScripts {
	<link href="/css/style.css" rel="stylesheet">
}

<div class="container">
	<div class="row">
		<div class="col-xs-12 mb20">
			<h2 class="gallery_heading">@Model.Content.GetPropertyValue("galleryHeading")</h2>
			@Model.Content.GetPropertyValue("galleryBlurb")
		</div>
	</div>
@for(int i = 0; i < Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("galleryPhotos").Count(); i++) {
	var img = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("galleryPhotos").ElementAt(i);
	if(i % 4 == 0){ @Html.Raw("<div class='row'>") }
			<div class="col-xs-12 col-sm-3">
				<div class="gallery_child">
				@if(img != null) {
					<a href="@img.Url()" target="_blank">
						<img src="@img.Url()" class="img-responsive" alt="" />
					</a>
				}
				</div>
			</div>
	if(i % 4 == 3 || i == Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("galleryPhotos").Count()-1) { @Html.Raw("</div>") }
}
</div>