﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<!DOCTYPE html>
<html lang="en">
<head>
	@Html.Partial("pageMaster/head")
	<link href="/css/temp.css" rel="stylesheet">
</head>

<body>
    <div id="homeTemp">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 banner_text">
					<svg viewBox="0 0 500 250">
						<!-- Symbol-->
						<symbol id="s-text">
						<text text-anchor="middle" x="50%" y="20%" dy=".35em">Share House</text>
						<text text-anchor="middle" x="50%" y="48%" dy=".35em">Theatre</text>
						</symbol>
						<!-- Duplicate symbols-->
						<use class="text" xlink:href="#s-text"></use>
						<use class="text" xlink:href="#s-text"></use>
						<use class="text" xlink:href="#s-text"></use>
						<use class="text" xlink:href="#s-text"></use>
						<use class="text" xlink:href="#s-text"></use>
					</svg>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="we_are">
						<p>We are</p>
						<ul>
							<li>Indie</li>
							<li>Collaborative</li>
							<li>Inclusive</li>
							<li>Theatre</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>