﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "PageMaster.cshtml";

	string bgimg = Model.Content.GetPropertyValue<IPublishedContent>("bgimg") != null ? Model.Content.GetPropertyValue<IPublishedContent>("bgimg").Url() : "../img/sharehouselogo_large.jpg";
}
@section headScripts {
	<link href="/css/style.css" rel="stylesheet">
}

<div class="main-banner" style="background-image: url(@bgimg);">
	<div class="block-centered">
		@if(Model.Content.GetPropertyValue<bool>("showBannerContent")) {
		<div class="user-content">@Model.Content.GetPropertyValue("bannerText")</div>
		<a href="@Model.Content.GetPropertyValue("buttonUrl")" class="round-btn">Buy Tickets</a>
		}
	</div>
</div>

<!-- Main Content -->
<div class="main home">
	<div class="container">
		<!-- Upcoming events -->
		<div class="upcoming_events">
			<h4>at the theatre</h4>
			<h2>@Model.Content.GetPropertyValue("eventsHeading")</h2>
			<div class="line"></div>

			<div class="row show_container">
				@{
					var events = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("eventsToShow");
				}
				@foreach(var ev in events) {
				<div class="col-xs-12 col-sm-6 col-md-4 show_card">
					<a href="@ev.Url()">
						@{
							var eventImg = ev.GetPropertyValue<IPublishedContent>("bannerImage") == null ? "" : ev.GetPropertyValue<IPublishedContent>("bannerImage").Url();
						}
						<img src="@eventImg" alt="" class="img-responsive" />
					</a>
					<div class="event-content">
						<div class="bottom_aligner"></div>
						<div class="content">
							<h3 class="entry-title summary">
								<a href="@ev.Url()">@ev.GetPropertyValue("title")</a>
							</h3>
							@{
								DateTime today = DateTime.Now;
								string day = "";
								string date = "";
								if(today > ev.GetPropertyValue<DateTime>("eventStartDate") &&
									today < ev.GetPropertyValue<DateTime>("eventFinishDate"))
								{
									day = ev.GetPropertyValue<DateTime>("eventStartDate").ToString("dddd");
									date = ev.GetPropertyValue<DateTime>("eventStartDate").ToString("dd MMMM");
								}
								else if(today < ev.GetPropertyValue<DateTime>("eventStartDate")) {
									day = "Starts " + ev.GetPropertyValue<DateTime>("eventStartDate").ToString("dddd");
									date = ev.GetPropertyValue<DateTime>("eventStartDate").ToString("dd MMMM");
								}
								else if(today > ev.GetPropertyValue<DateTime>("eventFinishDate")) {
									day = "Ended " + ev.GetPropertyValue<DateTime>("eventFinishDate").ToString("dddd");
									date = ev.GetPropertyValue<DateTime>("eventFinishDate").ToString("dd MMMM");
								}


							}
							<div class="event-time-container">
								<div class="event-weekday">@day</div>
								<div class="event-date">@date</div>
							</div>
							<div class="event-link">
								<a class="round-btn" href="@ev.Url()"><span class="text">More Info</span></a>
							</div>
						</div>
					</div>
				</div>
				}
			</div>
		</div>
	</div>

	<!-- INSET -->
	<div class="row no_marg inset">
		<div class="col-xs-12 col-md-6"></div>
		<div class="col-xs-12 col-md-6 no_pad">
			<div class="background">
				<img src="~/img/traces2.jpg" alt="" class="img-responsive" />
			</div>
			<div class="content">
				<h3>@Model.Content.GetPropertyValue("inset")</h3>
			</div>
		</div>
	</div>

	<!-- ABOUT INSET -->
	<div class="container inset_about">
		<div class="background">
			<div class="content">
				<h4>about us</h4>
				<h2>@Model.Content.GetPropertyValue("aboutUsHeading")</h2>
				<div class="line"></div>
				<div class="user_content">
					@Model.Content.GetPropertyValue("aboutUsBlurb")
				</div>
			</div>
		</div>
	</div>

	<!-- MASK / TEAM -->
	<div class="container mask_team">
		<div class="row">
			<div class="col-xs-12 col-md-6 mask">
				@{ string mask = Model.Content.GetPropertyValue<IPublishedContent>("mask") != null ? Model.Content.GetPropertyValue<IPublishedContent>("mask").Url() : "~/img/mask_hoz.png"; }
				<img src="@mask" alt="" class="img-responsive" />
			</div>
			<div class="col-xs-12 col-md-6 team">
				<div class="content">
					<h4>our staff</h4>
					<h2>@Model.Content.GetPropertyValue("ourStaffHeading")</h2>
					<div class="line"></div>
					<div class="user_content">
						@Model.Content.GetPropertyValue("ourStaffBlurb")
					</div>
					<div class="team_link">
						<a class="round-btn" href="/team/"><span class="text">View All Team</span></a>
					</div>
				</div>
			</div>
		</div>

		<!-- Team Members -->
		<div class="row team_preview">
		@{
			var mems = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("featuredTeamMembers");
		}
		@foreach(var tm in mems) {
			<div class="col-xs-12 col-sm-4">
				<a href="@tm.Url()">
					@{ var tmImg = tm.GetPropertyValue<IPublishedContent>("homeImage") == null ? "" : tm.GetPropertyValue<IPublishedContent>("homeImage").Url(); }
					<img src="@tmImg" class="img-responsive" alt="" />
					<figcaption>
						<span class="teammembername">@tm.GetPropertyValue("homeFirst") <span>@tm.GetPropertyValue("homeLast")</span></span>
						<p>@tm.GetPropertyValue("homeBlurb")</p>
					</figcaption>
				</a>
			</div>
		}
		</div>
	</div>


</div>
