﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!DOCTYPE html>
<html lang="en">
<head>
	@Html.Partial("pageMaster/head")

	@RenderSection("headScripts", false)
</head>

<body>
	@Html.Partial("pageMaster/nav")

	@RenderBody()

	@Html.Partial("pageMaster/footer")

	@RenderSection("scripts", false)
</body>
</html>