﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "PageMaster.cshtml";
	int q = -1;
	try {
		q = Int32.Parse(HttpContext.Current.Request.QueryString["m"]);
	} catch { }
}
@section headScripts {
	<link href="/css/style.css" rel="stylesheet">
}
<div class="team lg">
	<div class="container" id="team_con">
		<div class="team_container">
			<div class="header">
				<h1 class="header-title">Our Team</h1>
			</div>
			<div class="person-list">
			@{
				var teamMems = Model.Content.Children();
			}
			@for(int i = 0; i < teamMems.Count(); i++) {
				var mem = teamMems.ElementAt(i);
				<div id="@Html.Raw("m"+i)" class="person" onclick="selectPerson(event,this,@i)">
					@{ var img = mem.GetPropertyValue<IPublishedContent>("headShot") == null ? "" : mem.GetPropertyValue<IPublishedContent>("headShot").Url(); }
					<img class="person-img" src="@img">
					<div class="person-details">
						<h2 class="person-title">@mem.GetPropertyValue("prefName")</h2>
						<p class="person-desc">@mem.GetPropertyValue("title")</p>
					</div>
				</div>
			}
			</div>
		</div>
		<div class="team-detail">
			<div class="team-detail-inner">
				<div class="team-detail-left">
					<div class="team-detail-photo">
						<img src="selectedPersonData.photo" alt="">
					</div>
				</div>
				<div class="team-detail-right">
					<div class="team-detail-bio">
						<div class="team-detail-header">
							<h2 class="person-title"></h2>
							<p class="person-desc"></p>
							<div class="social">
								<a href="selectedPersonData.social.facebook" target="_blank" class="ion-social-facebook"></a>
								<a href="selectedPersonData.social.twitter" target="_blank" class="ion-social-twitter"></a>
								<a href="selectedPersonData.social.linkedin" target="_blank" class="ion-social-linkedin"></a>
							</div>
						</div>
						<div class="team-detail-bio-content"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="team sm">
	<div class="container">
		<h1>The Housemates</h1>
		<div class="row">
		@for(int i = 0; i < teamMems.Count(); i++) {
			var mem = teamMems.ElementAt(i);
			var img = mem.GetPropertyValue<IPublishedContent>("headShot") == null ? "" : mem.GetPropertyValue<IPublishedContent>("headShot").Url();
			<div class="member col-xs-12 col-sm-4">
				<div class="member_wrapper">
					<div class="member_photo">
						<img src="@img" class="img-responsive" alt="" />
					</div>
					<div class="member_details">
						<h2 class="person_title">@mem.GetPropertyValue("prefName")</h2>
						<p class="person_desc">@mem.GetPropertyValue("title")</p>
					</div>
					<div class="member_hidden">
						<p class="strong no_marg">Recent Endeavour:</p>
						<p class="most_recent">@mem.GetPropertyValue("recent")</p>
					</div>
				</div>
			</div>
		}
		</div>
	</div>
</div>

@section scripts {
<script>
$(document).ready(function(){
	$("body > .team").css("min-height", $("body > .team").outerHeight()+50+"px");
	@if(q > -1) {
		for(int i = 0; i < teamMems.Count(); i++) {
			if(q == i) {
	<text>$("#m"+@q).click()</text>
			}
		}
	}
});
function selectPerson(event, el, index){
	event.stopPropagation();
	if($("#team_con").hasClass("selected")){
		$("#team_con").removeClass("selected");
		$("#team_con").removeClass("ready");
		$(".person_selected").attr("style","");
		$(".person_selected").removeClass("person_selected");
		$("footer").css("display", "block");
		return;
	} else {
		$("#team_con").addClass("selected");
	}

	var offset = $(el).offset();
	var height = $(el).outerHeight();
	var width = $(el).outerWidth();
	$(el).css("width", width+"px");

	$(el).addClass("person_selected");

	var img = "";
	var name = "";
	var title = "";
	var bio = "";
	var fb = "/";
	var tw = "/";
	var ln = "/";
	
@for(int i = 0; i < teamMems.Count(); i++) {
	var mem = teamMems.ElementAt(i);
		if(i == 0) {
	<text>if(index === @i){</text>
	} else if(i < teamMems.Count() - 1) {
	<text>else if(index == @i){</text>
	} else {
	<text>else {</text>
	}

	string img = mem.GetPropertyValue<IPublishedContent>("headShot") != null ? mem.GetPropertyValue<IPublishedContent>("headShot").Url() : "";
		<text>img = "@img";</text>
		<text>name = "@mem.GetPropertyValue("prefName")";</text>
		<text>title = "@mem.GetPropertyValue("title")";</text>
	string bio = mem.GetPropertyValue<string>("content").Replace("\r", "").Replace("\n", "").Replace("\"", "\\\"");
		<text>bio = "@Html.Raw(bio)";</text>
	<text>}</text>
}
	$(".team-detail .team-detail-photo img").attr("src", img);
	$(".team-detail .person-title").text(name);
	$(".team-detail .person-desc").text(title);
	$(".team-detail .social.facebook").text(fb);
	$(".team-detail .social.twitter").text(tw);
	$(".team-detail .social.linkedin").text(ln);
	$(".team-detail .team-detail-bio-content").html(bio);

	
	setTimeout(function(){
		$(el).attr("style","width:"+width+"px;height:"+height+"px;left:"+offset.left+"px;top:"+(offset.top-70)+"px;position:fixed;");
	}, 400);
	setTimeout(function(){
		$(el).css("transition","all 0.45s");
		$("#team_con").addClass("ready");
		$("footer").css("display", "none");
	}, 420);
}
</script>
}