﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "PageMaster.cshtml";
}
@section headScripts {
	<link href="/css/style.css" rel="stylesheet">
}

<div class="container">
	@Html.GetGridHtml(Model.Content, "gridContent")
</div>