﻿@*
    Base Blog layout. Make this inherit from your base template
*@

@inherits UmbracoTemplatePage
@{
    Layout = "uBlogsyBaseSite.cshtml";
}

@section uBlogsyHead
{
    @Html.Partial("uBlogsy/Global/uBlogsyGlobalBrowserTitle")

    @*get meta title and description*@
    @Html.Partial("uBlogsy/Global/uBlogsyGlobalSeoMeta")

    <script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js"></script>
    <link type="text/css" rel="Stylesheet" media="screen" href="/css/uBlogsy.css" />
	<link href="/css/style.css" rel="stylesheet">

    @RenderSection("uBlogsyHead")
}



@section uBlogsyMain
{
    <div id="uBlogsy"> 
        <div id="uBlogsy_main">
               
            <section id="uBlogsy_left_col">
                @RenderSection("uBlogsyLeftCol")
            </section>
            <aside id="uBlogsy_right_col">
                @*search*@
                @Html.Partial("uBlogsy/Widgets/uBlogsyWidgetSearch")

                @*rss link*@
                @Html.Partial("uBlogsy/Widgets/uBlogsyWidgetShowRSSLink")

                @*list of authors*@ @*@Umbraco.RenderMacro("uBlogsyListAuthors")*@
                @Html.CachedPartial("uBlogsy/Widgets/uBlogsyWidgetListAuthors", Model, 0, false, false, new ViewDataDictionary(ViewData) { { "GravatarSize", 20 } })

                @*list of labels*@
                @Html.CachedPartial("uBlogsy/Widgets/uBlogsyWidgetListLabels", Model, 0)

                @*the awesome tag cloud*@
                @Html.CachedPartial("uBlogsy/Widgets/uBlogsyWidgetListTags", Model, 0, false, false, new ViewDataDictionary(ViewData) { { "ShowCount", true } })
                  
                @*list of latest posts*@
                @Html.CachedPartial("uBlogsy/Widgets/uBlogsyWidgetListPosts", Model, 0, false, false, new ViewDataDictionary(ViewData) { { "ItemLimit", 5 } })

                @*list of latest comments - install uCommentsy if you want to use comments *@
                @try{
                    @Html.CachedPartial("uCommentsy/Widgets/uCommentsyWidgetListComments", Model, 0, false, false, new ViewDataDictionary(ViewData) { { "ItemLimit", 5 } })
                }catch (Exception){}
                        
                @*archive*@
                @Html.CachedPartial("uBlogsy/Widgets/uBlogsyWidgetListPostArchive", Model, 6000, false, false, new ViewDataDictionary(ViewData) { { "AltLayout", false } })

                @*list blog roll *@
                @Html.CachedPartial("uBlogsy/Widgets/uBlogsyWidgetListBlogRoll", Model, 6000, false, false, new ViewDataDictionary(ViewData) { { "ItemLimit", 5 } })
            </aside>
        </div>
        
        @Html.CachedPartial("uBlogsy/Global/uBlogsyGlobalFooter", Model, 0)
    </div>
}