﻿@*
    Text page layout.
*@
@inherits UmbracoTemplatePage
@{
    Layout = "uBlogsyBaseSite.cshtml";
}
@section uBlogsyHead{
     <link type="text/css" rel="Stylesheet" media="screen" href="/css/uBlogsy.css" />
	 <link href="/css/style.css" rel="stylesheet">
}

@section uBlogsyMain
{
    <div id="uBlogsy">
        <div id="uBlogsy_main" style="width:80%;padding: 0 5%">
            <h3>
                <a href="@CurrentPage.Url()">@Umbraco.Field("uBlogsyContentTitle")</a>
            </h3>
            <div class="uBlogsy_content_body">
                @Html.Raw(library.RenderMacroContent(Umbraco.Field("uBlogsyContentBody").ToString(), Model.Content.Id))
            </div>
        </div>
    </div>
}