﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<footer>
	<div class="container">
    	<div class="row">
			<div class="col-xs-12 col-md-4">
				<span class="footer_heading"><span>Share House Theatre</span></span>
				<div class="icons">
					<a href="https://www.facebook.com/sharehousetheatreco/"><i class="fa fa-facebook-official"></i></a>
					<a href="https://www.instagram.com/sharehousetc/"><i class="fa fa-instagram"></i></a>
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<span class="footer_heading"><span>Pages</span></span>
				<ul class="footer_pages">
					<li><a href="/" class="nav-link">Home</a></li>
					@{ var selection = Umbraco.TypedContent(1061).Children.Where(x => x.IsVisible()).ToArray(); }
					@foreach (var item in selection)
					{
					<li>
						<a href="@item.Url">@item.Name @if(item.IsAncestorOrSelf(Model.Content)){ <span class="sr-only">(current)</span> }</a>
					</li>
					}
				</ul>
			</div>
			<div class="col-xs-12 col-md-4">
				<span class="footer_heading"><span>Contact</span></span>
				<div class="row contact_row">
					<div class="col-xs-1"><i class="fa fa-map-marker"></i></div>
					<div class="col-xs-11">Brisbane, Queensland</div>
				</div>
				<div class="row contact_row">
					<div class="col-xs-1"><i class="fa fa-envelope-o"></i></div>
					<div class="col-xs-11">sharehousetheatreco@gmail.com</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
    			<p id="copy">&copy; @DateTime.Now.Year Share House Theatre. All rights reserved.</p>
    			<p id="milky">Wesbite created by <a href="http://milkmanmatty.com">Milkman Matty</a></p>
			</div>
		</div>
	</div>
</footer>

<div id="top"><a href="#" class="sr-only">Back to top</a></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>

<script>
function scroll() {	$("html,body").animate({ scrollTop: 0 }, 400);}
$("#top, #top a").click(function(){scroll();});
document.addEventListener( 'scroll', function (event) { if ($(document).scrollTop() != 0) { $("#top").addClass("show"); } else { $("#top").removeClass("show");	} });
</script>