﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web

@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
    
    Model.Content.Site().Children.Where(x => x.IsVisible()).ToArray();
*@

@{ var selection = Umbraco.TypedContent(1061).Children.Where(x => x.IsVisible()).ToArray(); }

@if (selection.Length > 0)
{
<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggler visible-xs pull-xs-right" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
				&#9776;<span class="sr-only">Toggle navigation</span>
			</button>
			<a href="http://www.sharehousetheatre.com/" class="navbar-brand">Share House Theatre</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            @foreach (var item in selection)
            {
                <li class="nav-item @(item.IsAncestorOrSelf(Model.Content) ? "active" : null)">
                    <a href="@item.Url" class="nav-link">
                        @item.Name
                        @if(item.IsAncestorOrSelf(Model.Content)){ <span class="sr-only">(current)</span> }
                    </a>
                </li>
            }
            </ul>
        </div>
    </div>
</nav>
} else {
<!-- No children -->
}