﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<meta http-equiv="Cache-control" content="public, max-age=2592000">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="@Umbraco.Field("pageDescription")">
<meta name="author" content="Milkman Matty">
<title>Share House Theatre - @Umbraco.Field("pageTitle")</title>

<!-- Open Graph Data for Facebook -->
<meta property="og:type" content="website" />	
<meta property="og:image" content="/OG-IMAGE.jpg" />
<meta property="og:image:url" content="/OG-IMAGE.jpg" />	
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />	
<meta property="og:title" content="@Umbraco.Field("pageTitle")" />
<meta property="og:url" content="@Model.Content.Url()" />
<meta property="og:site_name" content="Share House Theare" />
<meta property="og:description" content="@Umbraco.Field("pageDescription")" />

<link rel="icon" href="/images/favicon.png" type="image/png" />
@*<link rel="shortcut icon" href="/favicon.ico" />*@
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<link href="/css/font-awesome.min.css" rel="stylesheet">

<script type="application/ld+json">
{
"@@context": "http://schema.org",
"@@type": "LocalBusiness",
"url": "http://www.sharehousetheatre.com/",
"hasMap": "",
"email": "matt@@milkmanmatty.com",
"address": {},
"description": "Share House is a Brisbane based independent theatre company dedicated to sharing gutsy stories that resonate with young adults.",
"name": "Share House Theare",
"telephone": "",
"openingHours": "Sat-Sun 10:00-16:00",
"geo": {
"@@type": "GeoCoordinates",
"latitude": "27.4690143",
"longitude": "153.0210243"
},
"sameAs" : []
}</script>