@*
    Lists Authors for a post. Gets called from /Landing/uBlogsyLandingShowPost.cshtml and /Post/uBlogsyPostShowPost.cshtml
*@

@using System.Linq
@using uBlogsy.Common.Helpers
@using uBlogsy.BusinessLogic;
@inherits UmbracoTemplatePage
@{
    var node = (IPublishedContent)ViewData["Node"] ?? Model.Content;
    var landing = DataService.Instance.GetLanding(Model.Content);
    var gravatarSize = (int)ViewData["GravatarSize"];
    var authors = PostService.Instance.GetAuthors(node, false).ToList(); 
    
    @RenderForPost(landing, authors, gravatarSize, node.GetPropertyValue<DateTime>("uBlogsyPostDate"), node)
}


@helper RenderForPost(IPublishedContent landing,  List<IPublishedContent> authors, int gravatarSize, DateTime postDate, IPublishedContent node = null)
{
    <div class="uBlogsy_author uBlogsy_font_style30">
        @*render gravatar images*@
        <div>
            @foreach (var a in authors)
            {
                var name = a.GetPropertyValue<string>("uBlogsyAuthorName").Trim();
                <a href="@landing.Url()?author=@Server.UrlEncode(name)" title="@name" class="uBlogsy_author_thumb">
                    <img src="@GravatarHelper.GetUrl(a.GetPropertyValue<string>("uBlogsyAuthorGravatarEmail"), gravatarSize)" alt="@(a.GetPropertyValue("uBlogsyAuthorName"))" class="uBlogsy_gravatar uBlogsy_gravatar@gravatarSize" />
                </a>
            }
        </div>               
        
		<span>@Umbraco.GetDictionaryValue("uBlogsyDicPostWrittenBy")</span> 
        <span class="uBlogsy_author_name">
			@if (authors.Count() <= 1){
				var land = landing == null ? Umbraco.TypedContent(1154) : landing;
				var auth = land.GetPropertyValue<IEnumerable<IPublishedContent>>("uBlogsyGeneralDefaultAuthor").First();
				string author = auth.Name;

				if(node.GetPropertyValue<IEnumerable<IPublishedContent>>("uBlogsyPostAuthor") != null) {
					var auths = node.GetPropertyValue<IEnumerable<IPublishedContent>>("uBlogsyPostAuthor");
					foreach(var a in auths) {
						var name = a.GetPropertyValue<string>("uBlogsyAuthorName").Trim();
						<a href="@land.Url()?author=@Server.UrlEncode(name)" title="@name">@name</a>if(a != auths.Last()) {<span>,</span>}
					}
				} else {
					<a href="@land.Url()?author=@Server.UrlEncode(author)" title="@author @node.Id" class="uBlogsy_author_thumb">
						@author
					</a>
				}
			}
            @foreach (var a in authors)
            {
                var name = a.GetPropertyValue<string>("uBlogsyAuthorName").Trim();
                <a href="@landing.Url()?author=@Server.UrlEncode(name)" title="@name">@name</a>if (a != authors.Last())
                                                                                    {<span>,</span>}
            }
        </span> 
        
        <span class="uBlogsy_post_time">@Umbraco.GetDictionaryValue("uBlogsyDicPostWrittenAt")
            @(postDate.ToString("HH:mm"))</span>
    </div>    
    
}

