﻿@model ShareHouseTheatre.Models.ContactModel
@using system;

<div id="loading" style="display:none; padding: 15px 0; text-align: center;">
	<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
	<span class="sr-only">Loading...</span>
</div>
@using(Ajax.BeginForm("Contact", "ContactSurface", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "loading", UpdateTargetId = "update" })) {
<div id="update">
	<div>
		@Html.TextBoxFor(m=>m.Name, new { placeholder="Name *" })
	</div>
	<div>
		@Html.TextBoxFor(m=>m.RequiredToPost, new { placeholder="Required last name", className="req", id=Guid.NewGuid(), tabindex = "-1", autocomplete = "false", style="display: none;" })
	</div>
	<div>
		@Html.TextBoxFor(m => m.Email, new { placeholder = "Email *" })
	</div>
	<div>
		@Html.TextBoxFor(m => m.Website, new { placeholder = "Website" })
	</div>
	<div>
		@Html.HiddenFor(m=>m.Required)
		@{ 
			//Create super basic encryption
			char[] _base = DateTime.Now.ToString("yyyyMMddHHmmss").ToCharArray();
			char[] salt = "Milkman Matty".ToCharArray();
			char[] enc = new char[_base.Length];
			for(int i = 0; i < _base.Length; i++) {
				enc[i] = (char) ( _base[i] + salt[i%salt.Length] );
			}
		}
		@Html.HiddenFor(m=>m.T, new { Value=new string(enc) })
	</div>
	<div>
		@Html.TextAreaFor(m => m.Message, new { placeholder = "Message *" })
		<p class="badge-important small">Do not post websites/URLs in the message!</p>
	</div>
	<input type="submit" class="round-btn" name="Submit" value="Submit" />
</div>
}