﻿@{ var error = ViewBag.error.ToString(); }
@if(String.IsNullOrEmpty(error)) {
<p class="error">An error occured and you message could not be delivered.</p>
} else {
<p class="error">An error occured and you message could not be delivered. @error</p>
}