﻿@*
    Footer.
*@
@inherits UmbracoTemplatePage
@{ /*
    <footer id="uBlogsy_footer" class="uBlogsy_font_style41">
        <details class="uBlogsy_footer_details" open>
        </details>
    </footer> */
} 

@Html.Partial("pageMaster/footer")
