﻿/* Global */
:root { --orange: rgb(237, 116, 40); }
body { font-size: 16px; }
.center { text-align: center; }
.no_marg { margin: 0; }
.no_pad { padding: 0; }
.strong { font-weight: 700; }
.bottom_aligner {  display: inline-block; height: 100%; vertical-align: bottom; width: 0px; }
.mb20 { margin-bottom: 20px; }
.mb40 { margin-bottom: 40px; }

@media (max-width: 767px) {	.pull-xs-right { float: right; } }

/* Mobile First */
/* @media all { *//* <-- IE11 doesn't know how to handle this */
	.navbar-default { background-color: black; padding: 25px 0; }
	.navbar-default .navbar-brand { color: #f5f5f5; }
	.navbar-default .navbar-nav > li > a.nav-link { 
		border-radius: 20px; 
		padding: 9px 20px; 
		color: #f5f5f5; 
		font-size: 16px; 
		margin-top: 8px; 
		-webkit-transition: 333ms all;
		-o-transition: 333ms all;
		transition: 333ms all;
		background: transparent;
		overflow: hidden;
		z-index: 1;
		margin-right: 18px;
	}
	.navbar-default .navbar-nav > li > a.nav-link::before { 
		content: '';
		background: linear-gradient(90deg, rgb(252, 125, 45), rgb(252, 125, 45)); 
		border-radius: inherit;
		z-index: -1;
		opacity: 1;
		height: 100%;
		width: 0;
		position: absolute;
		top: 0;
		left: auto;
		right: 0;
		-webkit-transition: 0.3s all;
		-o-transition: 0.3s all;
		transition: 0.3s all;
	} 
	.navbar-default .navbar-nav > li > a.nav-link:hover::before { width: 100%; left: 0; right: auto;} 
	.navbar-default .navbar-nav > li.active > a.nav-link { background-color: var(--orange); color: #f5f5f5; }

	/* HOMEPAGE */
	.main-banner { 
		height: calc(100vh - 100px); 
		overflow: hidden; 
		background-color: #ffffff;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
	}
	.block-centered { font-size: 150%; position: absolute; top: 50%; transform: translateY(-50%); width: 100%; text-align: center; }
	.round-btn { display: inline-block; background-color: var(--orange); border-radius: 27px; padding: 11px 30px 12px; color: white; margin: 10px 0; }
	.block-centered .round-btn:hover { color: white; }

	.main { margin-top: 40px; }

	/* HOME - UPCOMING EVENTS */
	.home h4 { font-style: normal; font-weight: 400; font-size: 24px; line-height: 1.5; font-family: 'PT Serif', serif; text-align: inherit; color: #555; margin-bottom: 5px; }
	.home h2, .contact h1 { 
		font-style: normal; 
		font-weight: 700; 
		font-size: 40px; 
		line-height: 1.07; 
		font-family: 'PT Serif', serif; 
		text-align: inherit; 
		color: #555; 
		text-transform: uppercase; 
		margin: 0 0 20px; 
	}
	div.line { width: 6%; border-bottom: 4px solid var(--orange); margin-bottom: 20px; }
	.show_container { margin-bottom: 50px; }
	.show_card { position: relative; z-index: 100; }
	.show_card > a { overflow: hidden; position: relative; display: block; width: 100%; }
	.show_card > a img { transform: scale(1.1) translateY(-4%); transition: all ease-in 850ms; }
	.show_card:hover > a img { transform: scale(1.1) translateY(4%); }
	.event-content { position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 70px 25px 40px 50px; }
	.event-content * { color: white;  }
	.event-content .content { display: inline-block; width: calc(100% - 10px); }
	.event-content .entry-title { margin-top: 15px; font-size: 38px; margin-bottom: 20px }
	.event-content .entry-title a { text-shadow: 0 0 10px black; padding-left: 10px; margin-left: -10px; }
	.event-content .entry-title a:hover { text-decoration: none; color: var(--orange); }
	.event-content .event-weekday {
		font-size: 1.25em;
		line-height: 1;
		text-transform: uppercase;
		text-shadow: 0 0 10px black;
		font-family: 'PT Serif', serif;
		font-weight: 700;
	}
	.event-date { text-shadow: 0 0 10px black; margin-bottom: 20px; }
	.event-link .round-btn { padding: 11px 30px; position: relative; z-index: 1; }
	.event-link .round-btn .text { position: relative; z-index: 1000; }
	.event-link .round-btn:hover { color: var(--orange); }
	.event-link .round-btn::before { 
		content: '';
		background: linear-gradient(90deg, #111, #111); 
		border-radius: inherit;
		z-index: 2;
		opacity: 1;
		height: 92%;
		width: 0;
		position: absolute;
		top: 4%;
		left: auto;
		right: 0;
		-webkit-transition: 0.3s all;
		-o-transition: 0.3s all;
		transition: 0.3s all;
		opacity: 0.8;
	} 
	.event-link .round-btn:hover::before { width: 96%; left: 2%; right: auto; opacity: 1; }
	.home .row.show_container:after { display: none; }

	/* HOME - INSET */
	.no_marg.inset { position: relative; }
	.no_marg.inset .background, .inset .content { overflow: hidden; position: relative; display: block; width: 100%; }
	.inset { margin-bottom: 0px; }
	.inset .content { position: absolute; bottom: 0; padding: 5px 15px 5px 20px; }
	.inset .content h3 { color: white; text-shadow: 0 0 10px black; font-size: 2.5rem; text-transform: uppercase; width: 75%; letter-spacing: 3px; font-weight: 700;}

	/* HOME - ABOUT BLURB */
	.inset_about { position: relative; height: auto; padding: 0; }
	.inset_about .background { 
		position: relative;
		margin: 0;
		padding: 30px 15px;
		border: #ddd 0px solid;
		box-shadow: 0px 0px 30px -5px rgba(102,102,102,0.3);
		width: 100%;
		z-index: -1;
	}

	.inset_about .background .content h2 { width: 90%; }
	.inset_about .background .content .user_content p { line-height: 2em; margin-bottom: 25px; color: #666; }

	/* HOME - Meet Team */
	.mask { display: none; }
	.mask_team .team { padding-top: 50px; padding-bottom: 50px; }
	.mask_team .team p { line-height: 2em; color: #666; }
	.mask_team .team .round-btn { padding: 11px 30px; position: relative; }
	.mask_team .team .round-btn:hover { color: var(--orange); }
	.round-btn .text { position: relative; z-index: 1000; color: white; }
	.mask_team .team .round-btn::before { 
		content: '';
		background: linear-gradient(90deg, #111, #111); 
		border-radius: inherit;
		z-index: 1;
		opacity: 1;
		height: 92%;
		width: 0;
		position: absolute;
		top: 4%;
		left: auto;
		right: 0;
		-webkit-transition: 0.3s all;
		-o-transition: 0.3s all;
		transition: 0.3s all;
		opacity: 0.8;
	} 
	.mask_team .team .round-btn:hover::before { width: 96%; left: 2%; right: auto; opacity: 1; }

	/* TEAM BORDERS */
	.team_preview { padding-bottom: 50px; }
	.team_preview a { position: relative; display: block; background: black; }
	.team_preview a img { 
		opacity: 1;
		width: 100%;
		-webkit-transition: opacity 0.35s;
		transition: opacity 0.35s;
	}
	.team_preview figcaption {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 30px 3em;
		width: 100%;
		height: 100%;
	}
	.team_preview figcaption::before {
		position: absolute;
		top: 30px;
		right: 30px;
		bottom: 30px;
		left: 100%;
		border-left: 4px solid rgba(255, 255, 255, 0.8);
		content: '';
		opacity: 0;
		background-color: rgba(255, 255, 255, 0.5);
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
		-webkit-transition-delay: 0.6s;
		transition-delay: 0.6s;
	}
	.team_preview figcaption .teammembername,
	.team_preview figcaption p {
		color: white;
		margin: 0 0 5px;
		opacity: 0;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
	}
	.team_preview figcaption .teammembername {
		font-size: 1.85em;
		word-spacing: -0.15em;
		font-weight: 300;
		text-transform: uppercase;
		-webkit-transform: translate3d(30%, 0%, 0);
		transform: translate3d(30%, 0%, 0);
		-webkit-transition-delay: 0.3s;
		transition-delay: 0.3s;
	}
	.team_preview figcaption .teammembername span { font-weight: 800; }
	.team_preview figcaption p {
		font-size: 1.25em;
		-webkit-transform: translate3d(0%, 30%, 0);
		transform: translate3d(0%, 30%, 0);
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}
	.team_preview a:hover img {
		opacity: 0.3;
	}
	.team_preview a:hover figcaption .teammembername {
		opacity: 1;
		-webkit-transform: translate3d(0%, 0%, 0);
		transform: translate3d(0%, 0%, 0);
		-webkit-transition-delay: 0.4s;
		transition-delay: 0.4s;
	}
	.team_preview a:hover figcaption p {
		opacity: 0.9;
		-webkit-transform: translate3d(0%, 0%, 0);
		transform: translate3d(0%, 0%, 0);
		-webkit-transition-delay: 0.6s;
		transition-delay: 0.6s;
	}
	.team_preview a:hover figcaption::before {
		background: rgba(255, 255, 255, 0);
		left: 30px;
		opacity: 1;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}

	/* EVENTS PAGE*/
	.event_blurb { margin: 30px 0 35px; }
	/* CALENDAR */
	#calendar { margin-bottom: 50px; float: left; width: 100%; }
	#calendar .clndr-controls { background-color: #414141; color: white; text-align: center; padding: 15px; font-size: 24px }
	#calendar .clndr-controls .clndr-next-button, #calendar .clndr-controls .clndr-previous-button { 
		width: 30px;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}
	.clndr-controls .clndr-previous-button { float: left; text-align: left; }
	.clndr-controls .clndr-next-button { float: right; text-align: right; }
	#calendar .clndr-controls .clndr-next-button:hover, #calendar .clndr-controls .clndr-previous-button:hover { opacity: 0.5; }

	#calendar .clndr-grid { float: left; width: 100%; border-right: 2px solid white; }
	#calendar .clndr-grid .days-of-the-week { width: 100%; background-color: var(--orange); }
	#calendar .clndr-grid .days-of-the-week .header-day { float: left; width: 14.2857%; padding: 14px; text-align: center; color: white; }
	#calendar .clndr-grid .days .day, #full-clndr .clndr-grid .days .empty {
		float: left;
		width: 14.2857%;
		height: 66px;
		padding: 24px 0;
		text-align: center;
		color: #4f4f4f;
		background-color: #ebebeb;
		border-bottom: 2px solid white;
		background-image: url('triangle.svg');
		background-size: cover;
		background-position: center;
	}
	#calendar .clndr-grid .days .day.today { border: 3px solid rgba(56, 131, 163, 0.8); }
	#calendar .clndr-grid .days .day.event .day-number, #calendar .clndr-grid .days .empty.event .day-number { 
		padding: 4px 8px;
		border: 2px solid #d2172f;
		cursor: pointer;
	}
	#calendar .clndr-grid .days .day.adjacent-month { background-color: #c6c6c6; background-image: none; }
	#calendar .clndr-grid .days .day.adjacent-month .day-number,

	#calendar .clndr-grid .days .empty.adjacent-month .day-number { opacity: 0.4; }
	#calendar .clndr-grid .days .today { background-color: white; background-image: none; }
	#calendar .event-listing { clear: both; }

	.event-listing .event-listing-title { padding: 14px; background-color: rgb(239, 149, 93); text-align: center; color: white; letter-spacing: 1px; text-transform: uppercase; }
	#calendar .event-listing .event-item { padding: 14px; color: #4f4f4f; }
	#calendar .event-item-name { font-weight: 700; }

	/* EVENT */
	.hero { margin: 30px 0 25px; }
	.event_main_content { margin-bottom: 60px; }
	.programme a { color: var(--orange); }

	/* TEAM PAGE */
	/* ##### DESKTOP - LARGE ##### */
	.team.lg { display: none; }
	.team .header {
		width: 100%;
		text-align: center;
		margin-bottom: 45px;
		overflow: hidden;
		transition: 0.45s ease 0.05s;
		max-height: 70px;
	}
	.team .header-title {
		width: 100%;
		font-family: 'PT Serif', serif; 
		font-size: 3.3em;
		color: #4f4f4f;
		margin-bottom: 15px;
	}
	.person {
		width: calc(25% - 30px);
		cursor: pointer;
		overflow: hidden;
		/* transition: all 0.45s; */
		position: relative;
		margin-bottom: 25px; 
		top: 0;
		left: 0;
		height: auto;
	}
	.person-details {
		padding: 0 20px;
		box-sizing: border-box;
		margin-top: -10px;
		transition: 0.3s;
	}
	.person-img {
		width: 100%;
	}
	.person-title {
		color: #111;
		font-size: 1.7em;
	}
	.team-detail .person-title { color: #eee; }
	.person-desc {
		color: rgba(0, 0, 0, 0.8);
		margin-top: 10px;
		text-transform: uppercase;
		font-size: 0.8em;
		letter-spacing: 2px;
	}
	.team-detail .person-desc {
		color: rgba(255, 255, 255, 0.8);
	}
	.person-list {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		justify-content: space-between;
	}
	.person-list:hover .person {
		opacity: 0.4;
	}
	.person:hover {
		opacity: 1 !important;
	}
	.person:before {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		background: #fbf9bd; /* var(--orange); */
		content: "";
		height: 0px;
		transition: 0.45s;
	}
	.person:after {
		content: "<<";
		/* font-family: "Ionicons"; */
		font-size: 36px;
		color: #282828;
		position: absolute;
		width: 100%;
		top: 0;
		height: 100%;
		display: flex;
		opacity: 0;
		visibility: hidden;
		transition: 0.3s;
		text-align: center;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		left: 0;
		flex-direction: column;
	}

	/* clicked member */
	#team_con.selected .header {
		max-height: 0px;
	}
	#team_con.selected .person {
		opacity: 0 !important;
		pointer-events: none;
	}
	#team_con.selected .person_selected {
		opacity: 1 !important;
	}
	#team_con.selected .person_selected:before {
		height: 100%;
	}
	#team_con.selected .person-list .person_selected .person-details,
	#team_con.selected .person-list .person.selected .person-details {
		/* margin-top: -40px; */
		opacity: 0;
	}

	/* Person Detail */
	.team-detail {
		position: absolute;
		width: calc(100% - 100px);
		right: 80px;
		top: 0;
		min-height: 100vh;
		color: #efefef;
		transition: 0.15s;
		opacity: 0;
		visibility: hidden;
		box-sizing: border-box;
		background-color: #111;
		z-index: 1;
	}
	.team-detail-inner {
		min-height: 100vh;
		display: flex;
		flex-wrap: wrap;
	}
	.team-detail-header {
		margin-bottom: 30px;
	}
	.team-detail-bio-content p {
		margin-bottom: 15px;
		line-height: 25px;
		font-size: 1.05em;
	}
	.team-detail-left {
		position: relative;
		width: 650px;
		min-height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	.team-detail-left:before {
		width: 100%;
		height: 100%;
		content: "";
		background: rgba(40, 40, 40, 0.8);
		position: absolute;
		right: 0;
		top: 0;
	}
	.team-detail-left:after {
		width: 100%;
		height: 100%;
		content: "";
		background: #464646; /* Old browsers */
		background: -moz-linear-gradient(left, #464646 0%, #111111 95%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #464646 0%,#111111 95%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #464646 0%,#111111 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464646', endColorstr='#111111',GradientType=1 ); /* IE6-9 */
		position: absolute;
		right: 0;
		top: 0;
	}
	.team-detail-photo {
		position: relative;
		text-align: center;
		z-index: 999;
		width: 100%;
		font-size: 0px;
		padding: 0 50px;
	}
	.team-detail-photo img {
		max-width: 100%;
		box-shadow: 0 10px 22px rgba(0, 0, 0, 0.3);
	}
	.team-detail-right {
		box-sizing: border-box;
		width: calc(100% - 650px);
		min-height: 100%;
		display: flex;
		align-items: center;
		padding-right: 10%;
		position: relative;
		right: 0;
		flex-wrap: wrap;
	}
	.team-detail-right .person-title {
		/* font-family: "Yeseva One", cursive; */
		font-size: 1.7em;
	}

	/* Animation finished */
	#team_con.selected.ready .team-detail {
		transition: 0.45s ease 0.3s;
		opacity: 1;
		right: 0;
		visibility: visible;
	}
	#team_con.selected.ready .team_container {
		/* height: 0px; */
		overflow: hidden;
	}
	#team_con.selected.ready .person_selected {
		left: 0px !important;
		top: 0px !important;
		z-index: 99;
		height: 100% !important;
		width: 100px !important;
		pointer-events: auto;
	}
	#team_con.selected.ready .person_selected:after {
		opacity: 1;
		visibility: visible;
	}
	/* ##### MOBILE - SMALL ##### */
	.team.sm { display: block; margin-bottom: 50px; }
	.team.sm h1 { margin-bottom: 25px; }
	.team.sm .member { z-index: 1; }
	.team.sm .member:hover, .team.sm .member:active, .team.sm .member:focus { z-index: 20; background-color: #fff; }
	.team.sm .member_wrapper {
		text-align: center; 
		transform: scale(1); 
		transition: all .3s; 
		padding: 15px 0; 
		border: 1px solid #eee; 
		z-index: 1; 
		width: 100%; 
		margin:0 auto; 
	}
	.team.sm .member_wrapper:hover, .team.sm .member_wrapper:active, .team.sm .member_wrapper:focus { 
		transform: scale(1.1); 
		box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
		background-color: #fff;
	}
	.team.sm .member_photo > img { display: block; margin: 0 auto; border-radius: 50%; width: 150px; }
	.team.sm .member_hidden { height: 0; opacity: 0; transition: all .3s; }
	.team.sm .member_wrapper:hover .member_hidden,
	.team.sm .member_wrapper:active .member_hidden,
	.team.sm .member_wrapper:focus .member_hidden { height: 50px; opacity: 1; }

	.team.sm .person_title { font-size: 28px; padding: 0 5px; }
	.team.sm .person_desc { font-size: 22px; padding: 0 5px; }
	.team.sm .most_recent { font-size: 14px; padding: 0 5px; }

	/* BLOG PAGE */
	#uBlogsy h1, #uBlogsy h2, #uBlogsy h3, #uBlogsy h4, #uBlogsy h5 { font-family: 'PT Serif', serif;  }
	#uBlogsy a { color: #333; }
	#uBlogsy_left_col .uBlogsy_post .uBlogsy_post_body p { display: block; }
	#uBlogsy, #uBlogsy p, #uBlogsy label, #uBlogsy input, #uBlogsy textarea, .uBlogsy_post_body { font-size: 14px; }

	#uBlogsy_left_col { width: 100%; display: block; margin: 0; padding: 20px; }
	#uBlogsy_right_col { width: 100%; display: block; margin: 0; padding: 20px; }

	#uBlogsy_left_col .uBlogsy_post, .uBlogsy_next_prev, .uBlogsy_related_posts_container, #uBlogsy_pagination { padding: 0 5px; }
	.uBlogsy_post_body .image { text-align: center; }
	.uBlogsy_post_body .image img { display: block; max-width: 100%; margin: 0 auto; }
	.uBlogsy_authors, .uBlogsy_posts_container ul, .uBlogsy_years { list-style: none; padding: 0; }
	.uBlogsy_related_posts_container ul { padding-left: 15px; }
	.uBlogsy_year { margin-bottom: 15px; }
	.uBlogsy_months, .uBlogsy_post_items { padding-left: 25px; }
	.uBlogsy_authors img { padding-right: 6px; }
	.uBlogsy_posts_container ul li { margin-bottom: 15px; }
	#uBlogsy_pagination > li { display: inline-block; }
	#uBlogsy_left_col .uBlogsy_post.uBlogsy_bottom_border { padding-bottom: 15px; border-bottom: 1px solid #ccc; }

	/* CONTACT PAGE */
	.contact { margin-bottom: 50px; margin-top: 50px; }
	.contact h1 { font-size: 3.5em; }
	.contact h3 { font-size: 1.85em; }
	.contact .spacer { padding: 0; }

	.contact_form h2 { padding: 25px 0 10px; font-family: 'PT Serif', serif; font-weight: bold; font-size: 32px; color: #555; }
	.contact form { margin: 0 auto; display: block; max-width: 500px; padding-bottom: 25px; }
	.contact form input { width: 100%; border: 0; margin-bottom: 10px; padding: 10px 10px 5px; }
	.contact form input[type="text"] { border-bottom: 1px solid var(--orange); }
	.contact form input[type="submit"] { min-width: 125px; width: auto; display: block; margin: 0 auto; font-size: 1.1em; margin-top: 15px }
	.contact textarea { border: none; margin: 15px 0; padding: 10px; width: 100%; border-bottom: 1px solid var(--orange); }

	p.success, p.error { text-align: center; }

	footer { background-color: #111; padding: 40px 0; color: #f5f5f5; clear: both; }
	footer .row { z-index: -1; }
	.footer_heading, .gallery_heading { display: block; font-size: 1.5em; padding: 15px 0 15px; }
	.footer_heading span { border-bottom: 3px solid rgb(237, 116, 40); padding-bottom: 5px; }
	.icons a, #uBlogsy .icons a { color: white; padding: 4px; font-size: 28px; }
	.footer_pages { list-style: none; padding: 0; }
	.footer_pages li { padding: 8px 0; }
	.footer_pages li a, #uBlogsy .footer_pages li a { color: #f5f5f5; }
	.footer_pages li a:hover { text-decoration: underline; }
	.contact_row { margin-top: 10px; margin-bottom: 10px; }
	.contact_row i { font-size: 20px; }
	#copy { margin-top: 20px; }

	#top { display: none;
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 1030;
	width: 50px;
	height: 50px;
	overflow: hidden;
	background: rgba(225,225,225,0.75) url('../img/scroll-page.png') no-repeat center 48%;
	transition: all 0.2s ease;
	cursor: pointer; }

	.show { display: block !important; }
	.navbar-toggler { margin: 10px 20px 0 0; }
	.show_card, .gallery_child { padding-bottom: 25px; }
	.team_preview > div { padding-bottom: 10px; }

	#milky a { color: rgb(63,213,253); }
	#milky a:hover { color: rgb(46,148,255); }
/* } */
@media (min-width: 480px) {
	.show_container > .show_card .event-content { width: 60%;}
	.show_container > .show_card:nth-child(2) a img { margin: 0 auto; }
	.show_container > .show_card:nth-child(2) .event-content { transform: translateX(25%); }
	.show_container > .show_card:nth-child(3) a img { float:right; clear:right; }
	.show_container > .show_card:nth-child(3) .event-content { transform: translateX(50%); }

	.inset .content { top: 100px; bottom: initial; }
	.inset .content h3 { font-size: 30px; }
	.team_preview figcaption .teammembername { font-size: 2.75em; }
	.team_preview figcaption p {font-size: 1.5em; }

	.team.sm .member_wrapper { width: 70%; }
}
@media (min-width: 600px) {
	.team.sm .member_wrapper { width: 325px; }
	.no_marg.inset { top: -130px; }
}
@media (min-width: 700px) {
	.show_container > .show_card:nth-child(2) .event-content { transform: translateX(28%); }
	.show_container > .show_card:nth-child(3) .event-content { transform: translateX(60%); }
	.inset .content h3 { font-size: 50px; }
}
@media (min-width: 768px) {
	/* GOLBAL*/
	.navbar-toggler { margin: 10px 20px 0 0; }

	/* HOMEPAGE */
	.home h2 { font-size: 48px; }
	.show_container > .show_card .event-content { width: 100%;}
	.show_container > .show_card:nth-child(2) .event-content { transform: translateX(0); }
	.show_container > .show_card:nth-child(3) .event-content { transform: translateX(0); }
	.inset .content h3 { font-size: 58px; margin-top: 30px; width: 85%; }
	.inset_about .background { padding: 30px 40px; }
	.team_preview figcaption .teammembername { font-size: 1.25em; }
	.team_preview figcaption p {font-size: 1em; }

	/* EVENTS PAGE */
	#calendar .clndr-grid { width: 65%; }
	#calendar .event-listing { display: block; float: left; width: 35%; clear: none; }

	.team.sm .row { margin: 0; }
	.team.sm .member { padding-left: 0; padding-right: 0; }
	.team.sm .member_wrapper { width: 100%; }
	.team.sm .person_title { font-size: 25px; }

	#uBlogsy_left_col .uBlogsy_post, .uBlogsy_next_prev, .uBlogsy_related_posts_container, #uBlogsy_pagination { padding: 0 10px; }

}
@media (min-width: 992px) {
	/* GOLBAL*/

	/* HOMEPAGE */
	.inset .content { padding: 50px 40px 70px; top: 50px; }
	.inset .content h3 { font-size: 32px; }
	.inset_about { height: 410px; }
	.inset_about .background { position: absolute; top: -650px; width: 75%; margin-left: -25px; padding: 30px 40px 100px; }
	.inset_about .content { width: 66%; }
	.mask { display: block; }
	.mask_team .mask img { transform: translate(-15%, 2%); }
	.team_preview figcaption .teammembername { font-size: 2.5em; }
	.team_preview figcaption p {font-size: 1.5em; }

	/* TEAM PAGE */
	.team.sm { display: none; }
	.team.lg { display: block; }
	.team-detail-left {
		width: 400px;
		padding: 0 40px;
		box-sizing: border-box;
	}
	.team-detail-right {
		padding-right: 0;
		width: calc(100% - 440px);
	}
	.person {
		width: calc(33% - 30px);
	}
	.person-details {
		padding: 0 10px;
	}

	.uBlogsy_post_body .image { display: inline-block; float: left; margin-right: 15px; margin-bottom: 15px; max-width:50%; }
	.uBlogsy_post { padding-left: 25px; }
	#uBlogsy_left_col .uBlogsy_post, .uBlogsy_next_prev, .uBlogsy_related_posts_container, #uBlogsy_pagination { padding: 0 25px; }

	/* CONTACT PAGE */
	.contact .spacer { padding: 50px 0; }
}
@media (min-width: 1200px) {
	.inset .content h3 { font-size: 45px; }
	.inset_about { height: 210px; }
	.mask_team .mask img { transform: translate(-15%, -20%); }

	/* TEAM PAGE */
	.person .person-title {	font-size: 2.2em; }
	.team-detail-left { width: 650px; padding: 0; }
	.team-detail-right { width: calc(100% - 650px); }

	/* BLOG */
	#uBlogsy_left_col {
		width: 70%;
		display: inline;
		float: left;
	}
	#uBlogsy_right_col {
		width: 30%;
		display: inline;
		float: right;
	}
	#uBlogsy_left_col .uBlogsy_post, .uBlogsy_next_prev, .uBlogsy_related_posts_container, #uBlogsy_pagination { padding: 0 50px; }
}
@media (min-width: 1520px) {
	.inset .content { top: 70px; }
	.inset .content h3 { font-size: 48px; width: 72.5%; }
	.uBlogsy_post { padding-left: 75px; }
}
@media (min-width: 1886px) {
	.inset .content h3 { font-size: 52px; width: 60%; }
	#uBlogsy_left_col .uBlogsy_post, .uBlogsy_next_prev, .uBlogsy_related_posts_container, #uBlogsy_pagination { padding: 0 65px; }
}