﻿/* Main styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
#homeTemp .text {
	fill: none;
	stroke-width: 3;
	stroke-linejoin: round;
	stroke-dasharray: 70 330;
	stroke-dashoffset: 0;
	-webkit-animation: stroke 6s infinite linear;
	animation: stroke 6s infinite linear;
}
#homeTemp .text:nth-child(5n + 1) {
	stroke: #F2385A;
	-webkit-animation-delay: -1.2s;
	animation-delay: -1.2s;
}
#homeTemp .text:nth-child(5n + 2) {
	stroke: #F5A503;
	-webkit-animation-delay: -2.4s;
	animation-delay: -2.4s;
}
#homeTemp .text:nth-child(5n + 3) {
	stroke: #E9F1DF;
	-webkit-animation-delay: -3.6s;
	animation-delay: -3.6s;
}
#homeTemp .text:nth-child(5n + 4) {
	stroke: #56D9CD;
	-webkit-animation-delay: -4.8s;
	animation-delay: -4.8s;
}
#homeTemp .text:nth-child(5n + 5) {
	stroke: #3AA1BF;
	-webkit-animation-delay: -6s;
	animation-delay: -6s;
}

@-webkit-keyframes stroke {
	100% {
	stroke-dashoffset: -400;
	}
}
@keyframes stroke {
	100% {
	stroke-dashoffset: -400;
	}
}
/* Other styles */
html, body {
	height: 100%;
}

body {
	background: #111;
	background-size: .2em 100%;
	margin: 0;
}

#homeTemp .banner_text{
	font: 5em/1 Open Sans, Impact;
	text-transform: uppercase;
}

#homeTemp svg {
	width: 100%;
	height: 500px;
}

#homeTemp .we_are {
	float: left;
    overflow: hidden;
    height: 60px;
	font-size: 60px;
	line-height: 70px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
#homeTemp .we_are p {
	display: inline;
    float: left;
    margin: 0;
    color: #ffff9e;
}
#homeTemp .we_are ul {
	margin-top: 0;
	padding-left: 210px;
	text-align: left;
	list-style: none;
	animation: 8s linear 0s normal none infinite change;
}
#homeTemp .we_are ul li {
    color: #E7D84B;
    margin: 0;
}
@keyframes change {
    0% { margin-top: 0; }
    8% { margin-top: 0; }
    16% { margin-top: -70px; }
    24% { margin-top: -70px; }
    33% { margin-top: -140px; }
    41% { margin-top: -140px; }
	49% { margin-top: -210px; }
    58% { margin-top: -210px; }
	66% { margin-top: -140px; }
    75% { margin-top: -140px; }
    83% { margin-top: -70px; }
    91% { margin-top: -70px; }
    100% { margin-top: 0; }
}


@media (max-width: 600px){
	#homeTemp svg {
		width: 100%;
		height: 350px;
	}
	#homeTemp .we_are {
		height: 40px;
		font-size: 48px;
		line-height: 40px;
		margin-top: -60px;
	}
	#homeTemp .we_are ul {
		padding-left: 160px;
	}
	@keyframes change {
		0% { margin-top: 0; }
		8% { margin-top: 0; }
		16% { margin-top: -40px; }
		24% { margin-top: -40px; }
		33% { margin-top: -80px; }
		41% { margin-top: -80px; }
		49% { margin-top: -120px; }
		58% { margin-top: -120px; }
		66% { margin-top: -80px; }
		75% { margin-top: -80px; }
		83% { margin-top: -40px; }
		91% { margin-top: -40px; }
		100% { margin-top: 0; }
	}
}
@media (max-width: 480px){
	#homeTemp svg {
		width: 100%;
		height: 250px;
	}
	#homeTemp .we_are {
		height: 40px;
		font-size: 34px;
		line-height: 40px;
		margin-top: -60px;
	}
	#homeTemp .we_are ul {
		padding-left: 118px;
	}
	@keyframes change {
		0% { margin-top: 0; }
		8% { margin-top: 0; }
		16% { margin-top: -40px; }
		24% { margin-top: -40px; }
		33% { margin-top: -80px; }
		41% { margin-top: -80px; }
		49% { margin-top: -120px; }
		58% { margin-top: -120px; }
		66% { margin-top: -80px; }
		75% { margin-top: -80px; }
		83% { margin-top: -40px; }
		91% { margin-top: -40px; }
		100% { margin-top: 0; }
	}
}
@media (max-width: 360px){
	#homeTemp svg {
		width: 100%;
		height: 250px;
	}
	#homeTemp .we_are {
		height: 40px;
		font-size: 26px;
		line-height: 40px;
	}
	#homeTemp .we_are ul {
		padding-left: 105px;
	}
	@keyframes change {
		0% { margin-top: 0; }
		8% { margin-top: 0; }
		16% { margin-top: -40px; }
		24% { margin-top: -40px; }
		33% { margin-top: -80px; }
		41% { margin-top: -80px; }
		49% { margin-top: -120px; }
		58% { margin-top: -120px; }
		66% { margin-top: -80px; }
		75% { margin-top: -80px; }
		83% { margin-top: -40px; }
		91% { margin-top: -40px; }
		100% { margin-top: 0; }
	}
}
